.footer {
    background-image: url(../images/order/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0px 30px;
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 60px;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}